.listBg {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.listItem {
  background: rgb(255, 186, 186);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  
  opacity: 1;
  transition: all 1s;
}
.listItem h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.listItem p {
  color: grey;
  margin : 5px 0px;
} 

.delbtn{
  border: none;
  background-color: rgb(249, 250, 255);
  margin-left: 10px;
  border-radius: 16px;
}